body{
    margin: 100px 0px 0px 0px;
    background-color: darkkhaki;
    background-repeat: no-repeat;
    background-size: cover;


}
body{
    width: 100%;
    text-align: center;
}
.Image{
    border: 10px solid red;
    /* border-radius: 10px; */
    /* box-shadow: 10px ; */
    /* margin-left: 50px; */
    /* border-radius: 10px; */
    padding: 10px dot blue;
    border-radius: 0px 0px 0px 50px;
    /* box-shadow: 5px 5px 5px 5px navy; */
    /* width: 50%; */
}
.block{
    display: inline-block;
    /* background-color: aqua; */
    /* padding: 10px; */
}
a{
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid blue;
    background: 20%;
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
    color: maroon;
    text-decoration: none;
}

.link{
    text-align: center;
}
.text{
    border: 5px solid darkcyan;
    margin: 10px;
    padding: 5px;
    /* display: inline-block; */
    /* display: inline-flexbox; */
    text-align: center;
    width: 30%;
    float: left;
}

.READ{
    justify-items: center;
    text-align: center;

}
button{
    background-color: transparent;
    border: none;
}
.name{
    /* border: 5px black; */
    /* border: transparent; */
    /* border: outset; */
    font-style: italic;
    font-size: 100px;
}

.block img{
    padding: 10px;
}
.btn{
    color: rgb(82, 45, 45);
    /* border: none; */
}
.icon{
    font-size: xx-large;
    /* margin: 100px; */
}
.carddiv{
    display: flex;
    justify-content: center;
}
.thanking{
    margin-top: 100px;
    font-size: larger;
    /* text-align: center; */
}

.content{
    display: flex;
    justify-content: center;
    gap: 10px;
}
